<footer id="footer" class="footer">

    <div class="container">
        <div class="row gy-3">
            <div class="col-lg-3 col-md-6 d-flex">
                <i class="bi bi-geo-alt icon"></i>
                <div class="address">
                    <h4>Adres</h4>
                    <p>
                        LoLee Restoran<br>
                        Şar, 1. Cadde No:260<br>
                        Artuklu/Mardin
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex">
                <i class="bi bi-telephone icon"></i>
                <div>
                    <h4>İletişim</h4>
                    <p>
                        <strong>Telefon:</strong> <span>+90 534 698 40 10</span><br>
                        <strong>E-posta:</strong> <span>loleerestoran47@gmail.com</span>
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 d-flex">
                <i class="bi bi-clock icon"></i>
                <div>
                    <h4>Çalışma Saatleri</h4>
                    <p>
                        <strong>Pazartesi-Cumartesi:</strong> 09.00 - 23.00<br>
                        <strong>Pazar:</strong> Kapalı
                    </p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <h4>Bizi Takip Edin</h4>
                <div class="social-links d-flex">
                    <a href="https://www.instagram.com/mardinlolee/" target="_blank" class="instagram">
                        <i class="bi bi-instagram"></i>
                    </a>
                    <a href="https://www.facebook.com/p/Mardin-Lolee-Restaurant-Patisserie-100093698986950/" target="_blank" class="facebook">
                        <i class="bi bi-facebook"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container copyright text-center mt-4">
        <p>©<strong class="px-1 sitename">LoLee Restoran</strong> <span>Tüm Hakları Saklıdır</span>
        </p>
    </div>

</footer>
