@{
  ViewData["Title"] = "Hakkinda";
}
<style>
  .book-a-table {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .book-a-table p {
    font-size: 15px;
  }
</style>

<section id="about" class="about section">

  <div class="container section-title aos-init aos-animate" data-aos="fade-up">
    <p><strong>Hakkında</strong></p>
  </div>

  <div class="container">

    <div class="row gy-4">
      <div class="col-lg-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" style="height: auto;">
        <img src="/assets/img/hakkinda.jpeg" class="img-fluid mb-4" alt="">
      </div>
      <div class="col-lg-6 aos-init aos-animate" data-aos="fade-up" data-aos-delay="250">
        <div class="content ps-0 ps-lg-5">
          <p class="fst-italic">
            Mardin LoLee Restoran
            Mardin LoLee Restoran, Mardin'in zengin kültürel mirasını ve eşsiz lezzetlerini bir araya getiren özel bir
            mekandır. Tarihi dokusu ve modern dokunuşlarıyla, konuklarına unutulmaz bir gastronomi deneyimi sunar.

            Mardin'in tarihi sokaklarının büyüleyici atmosferini yansıtan restoranımız, geleneksel Mardin mutfağının
            lezzetlerini modern sunumlarla buluşturur. Menüde yer alan her bir yemek, özenle seçilen malzemeler ve
            ustalıkla hazırlanan tariflerle oluşturulmuştur. Özellikle, Mardin'e özgü baharatlar ve yöresel ürünler
            kullanılarak hazırlanan yöresel yemekler ve tatlılar, damaklarda unutulmaz izler bırakır.

            Restoranımızın şefleri, Mardin mutfağının geleneksel tariflerini modern gastronomi teknikleriyle
            yorumlayarak konuklara eşsiz bir lezzet şöleni sunar. Mezopotamya'nın zengin tarihinden esinlenerek
            hazırlanan spesiyallerimiz arasında, harire tatlısı, kaburga dolması, irok ve sembusek gibi enfes tatlar
            bulunur.

            Mardin LoLee Restoran, sadece yemekleriyle değil, aynı zamanda sunduğu atmosfer ile de konuklarını büyüler.
            Restoranımızın taş duvarları, kemerli tavanları ve otantik dekorasyon detayları, Mardin'in tarihi dokusunu
            modern bir perspektifle yaşatır.

            Misafirlerimizin konforunu ve memnuniyetini her zaman ön planda tutan Mardin LoLee Restoran, güler yüzlü ve
            profesyonel ekibiyle hizmet vermektedir. Özel günleriniz, kutlamalarınız ve iş yemekleriniz için de ideal
            bir mekân olan restoranımız, unutulmaz anılar biriktirmeniz için sizi bekliyor.

            Mardin LoLee Restoran'da, zengin kültürel mirasımızı ve eşsiz lezzetlerimizi deneyimlemek için sizleri de
            aramızda görmekten mutluluk duyarız. Mardin'in kalbinde, lezzet dolu bir yolculuğa çıkmaya hazır olun.
          </p>
        </div>
      </div>
    </div>

  </div>

</section>