@{
  ViewData["Title"] = "Menu";
}
<style>
.notification {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  font-size: 16px;
}

</style>

<section id="menu" class="menu section">

  <!-- Section Title -->
  <div class="container section-title aos-init aos-animate" data-aos="fade-up">
    <p><span class="description-title">Menümüz</span></p>
  </div><!-- End Section Title -->

  <div class="container">

    <ul class="nav nav-tabs d-flex justify-content-center aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">

      <li class="nav-item">
        <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#menu-starters">
          <h4>Kahvaltı</h4>
        </a>
      </li><!-- End tab nav item -->

      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-breakfast">
          <h4>Yöresel Yemekler</h4>
        </a><!-- End tab nav item -->

      </li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-lunch">
          <h4>Kebap Çeşitleri</h4>
        </a>
      </li><!-- End tab nav item -->

      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-dinner">
          <h4>Tatlılar</h4>
        </a>
      </li><!-- End tab nav item -->
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="tab" data-bs-target="#menu-drink">
          <h4>İçecekler</h4>
        </a>
      </li><!-- End tab nav item -->

    </ul>



    <div class="tab-content aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">

      <div class="tab-pane fade active show" id="menu-starters">

        <div class="tab-header text-center">
          <p>Menü</p>
          <h3>Kahvaltı</h3>
        </div>

        <div class="row gy-5">

          <div class="col-lg-4 menu-item" data-id="1">
            <a href="\assets\img\KAHVALTI\serpme.png" class="glightbox"><img src="\assets\img\KAHVALTI\serpme.png"
                class="menu-img img-fluid" alt=""></a>
            <h4>Magnam Tiste</h4>
            <p class="ingredients">
              Lorem, deren, trataro, filede, nerada
            </p>
            <div class="sepet">
            <p class="price">
              $5.95
            </p>
           <button class="add-to-cart-btn">Sepete Ekle</button>
            </div>
          
          </div><!-- Menu Item -->

          <div class="col-lg-4 menu-item" data-id="2">
            <a href="\assets\img\KAHVALTI\tabak.png" class="glightbox"><img src="\assets\img\KAHVALTI\tabak.png"
                class="menu-img img-fluid" alt=""></a>
            <h4>Aut Luia</h4>
            <p class="ingredients">
              Lorem, deren, trataro, filede, nerada
            </p>
            <div class="sepet">
            <p class="price">
              $14.95
            </p>
            <button class="add-to-cart-btn">Sepete Ekle</button>
            </div>
          
          </div><!-- Menu Item -->

          <div class="col-lg-4 menu-item" data-id="3">
            <a href="\assets\img\KAHVALTI\aperatif.png" class="glightbox"><img src="\assets\img\KAHVALTI\aperatif.png"
                class="menu-img img-fluid" alt=""></a>
            <h4>Est Eligendi</h4>
            <p class="ingredients">
              Lorem, deren, trataro, filede, nerada
            </p>
            <div class="sepet">
            <p class="price">
              $8.95
            </p>
            <button class="add-to-cart-btn">Sepete Ekle</button>
            </div>

          </div><!-- Menu Item -->


        </div>
      </div><!-- End Starter Menu Content -->


      <div class="tab-pane fade" id="menu-breakfast">

        <div class="tab-header text-center">
          <p>Menü</p>
          <h3>Yöresel Yemekler</h3>
        </div>

        <div class="row gy-5">

          <div class="col-lg-4 menu-item">
            <a href="\assets\img\YÖRESEL YEMEKLER\kaburgadolmasıı.png" class="glightbox"><img src="\assets\img\YÖRESEL YEMEKLER\kaburgadolmasıı.png"
                class="menu-img img-fluid" alt=""></a>
            <h4>Magnam Tiste</h4>
            <p class="ingredients">
              Lorem, deren, trataro, filede, nerada
            </p>
            <p class="price">
              $5.95
            </p>
           <button class="add-to-cart-btn">Sepete Ekle</button>

          </div><!-- Menu Item -->

          <div class="col-lg-4 menu-item">
            <a href="\assets\img\YÖRESEL YEMEKLER\İKBEBET.png" class="glightbox"><img src="\assets\img\YÖRESEL YEMEKLER\İKBEBET.png"
                class="menu-img img-fluid" alt=""></a>
            <h4>Aut Luia</h4>
            <p class="ingredients">
              Lorem, deren, trataro, filede, nerada
            </p>
            <p class="price">
              $14.95
            </p>
          </div><!-- Menu Item -->

          <div class="col-lg-4 menu-item">
            <a href="\assets\img\YÖRESEL YEMEKLER\sembusekk.png" class="glightbox"><img src="\assets\img\YÖRESEL YEMEKLER\sembusekk.png"
                class="menu-img img-fluid" alt=""></a>
            <h4>Est Eligendi</h4>
            <p class="ingredients">
              Lorem, deren, trataro, filede, nerada
            </p>
            <p class="price">
              $8.95
            </p>
          </div><!-- Menu Item -->

          <div class="col-lg-4 menu-item">
            <a href="\assets\img\YÖRESEL YEMEKLER\İROK.png" class="glightbox"><img src="\assets\img\YÖRESEL YEMEKLER\İROK.png"
                class="menu-img img-fluid" alt=""></a>
            <h4>Eos Luibusdam</h4>
            <p class="ingredients">
              Lorem, deren, trataro, filede, nerada
            </p>
            <p class="price">
              $12.95
            </p>
          </div><!-- Menu Item -->

          <div class="col-lg-4 menu-item">
            <a href="\assets\img\YÖRESEL YEMEKLER\KURUDOLMA.png" class="glightbox"><img src="\assets\img\YÖRESEL YEMEKLER\KURUDOLMA.png"
                class="menu-img img-fluid" alt=""></a>
            <h4>Eos Luibusdam</h4>
            <p class="ingredients">
              Lorem, deren, trataro, filede, nerada
            </p>
            <p class="price">
              $12.95
            </p>
          </div><!-- Menu Item -->

          <div class="col-lg-4 menu-item">
            <a href="\assets\img\YÖRESEL YEMEKLER\kuzuincik.png" class="glightbox"><img src="\assets\img\YÖRESEL YEMEKLER\kuzuincik.png"
                class="menu-img img-fluid" alt=""></a>
            <h4>Laboriosam Direva</h4>
            <p class="ingredients">
              Lorem, deren, trataro, filede, nerada
            </p>
            <p class="price">
              $9.95
            </p>
          </div><!-- Menu Item -->

          <div class="col-lg-4 menu-item">
            <a href="\assets\img\YÖRESEL YEMEKLER\ALLUCETAVA.png" class="glightbox"><img src="\assets\img\YÖRESEL YEMEKLER\ALLUCETAVA.png"
                class="menu-img img-fluid" alt=""></a>
            <h4>Magnam Tiste</h4>
            <p class="ingredients">
              Lorem, deren, trataro, filede, nerada
            </p>
            <p class="price">
              $5.95
            </p>
          </div><!-- Menu Item -->

          <div class="col-lg-4 menu-item">
            <a href="\assets\img\YÖRESEL YEMEKLER\DAHUDİYAT.png" class="glightbox"><img src="\assets\img\YÖRESEL YEMEKLER\DAHUDİYAT.png"
                class="menu-img img-fluid" alt=""></a>
            <h4>Magnam Tiste</h4>
            <p class="ingredients">
              Lorem, deren, trataro, filede, nerada
            </p>
            <p class="price">
              $5.95
            </p>
          </div><!-- Menu Item -->

          <div class="col-lg-4 menu-item">
            <a href="\assets\img\YÖRESEL YEMEKLER\lahmacun.png" class="glightbox"><img src="\assets\img\YÖRESEL YEMEKLER\lahmacun.png"
                class="menu-img img-fluid" alt=""></a>
            <h4>Magnam Tiste</h4>
            <p class="ingredients">
              Lorem, deren, trataro, filede, nerada
            </p>
            <p class="price">
              $5.95
            </p>
          </div><!-- Menu Item -->

          <div class="col-lg-4 menu-item">
            <a href="\assets\img\YÖRESEL YEMEKLER\MUMBAR.png" class="glightbox"><img src="\assets\img\YÖRESEL YEMEKLER\MUMBAR.png"
                class="menu-img img-fluid" alt=""></a>
            <h4>Magnam Tiste</h4>
            <p class="ingredients">
              Lorem, deren, trataro, filede, nerada
            </p>
            <p class="price">
              $5.95
            </p>
          </div><!-- Menu Item -->

          <div class="col-lg-4 menu-item">
            <a href="\assets\img\YÖRESEL YEMEKLER\SACKAVURMA.png" class="glightbox"><img src="\assets\img\YÖRESEL YEMEKLER\SACKAVURMA.png"
                class="menu-img img-fluid" alt=""></a>
            <h4>Magnam Tiste</h4>
            <p class="ingredients">
              Lorem, deren, trataro, filede, nerada
            </p>
            <p class="price">
              $5.95
            </p>
          </div><!-- Menu Item -->

          <div class="col-lg-4 menu-item">
            <a href="\assets\img\YÖRESEL YEMEKLER\SOĞANDOLMASI.png" class="glightbox"><img src="\assets\img\YÖRESEL YEMEKLER\SOĞANDOLMASI.png"
                class="menu-img img-fluid" alt=""></a>
            <h4>Magnam Tiste</h4>
            <p class="ingredients">
              Lorem, deren, trataro, filede, nerada
            </p>
            <p class="price">
              $5.95
            </p>
          </div><!-- Menu Item -->

        </div>
      </div><!-- End Breakfast Menu Content -->

      <div class="tab-pane fade" id="menu-lunch">

        <div class="tab-header text-center">
          <p>Menü</p>
          <h3>Kebap Çeşitleri</h3>
        </div>

        <div class="row gy-5">

          <div class="col-lg-4 menu-item">
            <a href="\assets\img\KEBAP ÇEŞİTLERİ\alinazik.png" class="glightbox"><img src="\assets\img\KEBAP ÇEŞİTLERİ\alinazik.png"
                class="menu-img img-fluid" alt=""></a>
            <h4>Magnam Tiste</h4>
            <p class="ingredients">
              Lorem, deren, trataro, filede, nerada
            </p>
            <p class="price">
              $5.95
            </p>
          </div><!-- Menu Item -->

          <div class="col-lg-4 menu-item">
            <a href="\assets\img\KEBAP ÇEŞİTLERİ\Adanakebap.png" class="glightbox"><img src="\assets\img\KEBAP ÇEŞİTLERİ\Adanakebap.png"
                class="menu-img img-fluid" alt=""></a>
            <h4>Aut Luia</h4>
            <p class="ingredients">
              Lorem, deren, trataro, filede, nerada
            </p>
            <p class="price">
              $14.95
            </p>
          </div><!-- Menu Item -->

          <div class="col-lg-4 menu-item">
            <a href="\assets\img\KEBAP ÇEŞİTLERİ\patlıcankebabı.png" class="glightbox"><img src="\assets\img\KEBAP ÇEŞİTLERİ\patlıcankebabı.png"
                class="menu-img img-fluid" alt=""></a>
            <h4>Est Eligendi</h4>
            <p class="ingredients">
              Lorem, deren, trataro, filede, nerada
            </p>
            <p class="price">
              $8.95
            </p>
          </div><!-- Menu Item -->

          <div class="col-lg-4 menu-item">
            <a href="\assets\img\KEBAP ÇEŞİTLERİ\danalokum.png" class="glightbox"><img src="\assets\img\KEBAP ÇEŞİTLERİ\danalokum.png"
                class="menu-img img-fluid" alt=""></a>
            <h4>Eos Luibusdam</h4>
            <p class="ingredients">
              Lorem, deren, trataro, filede, nerada
            </p>
            <p class="price">
              $12.95
            </p>
          </div><!-- Menu Item -->

          <div class="col-lg-4 menu-item">
            <a href="\assets\img\KEBAP ÇEŞİTLERİ\karışıkızgara.png" class="glightbox"><img src="\assets\img\KEBAP ÇEŞİTLERİ\karışıkızgara.png"
                class="menu-img img-fluid" alt=""></a>
            <h4>Eos Luibusdam</h4>
            <p class="ingredients">
              Lorem, deren, trataro, filede, nerada
            </p>
            <p class="price">
              $12.95
            </p>
          </div><!-- Menu Item -->

          <div class="col-lg-4 menu-item">
            <a href="\assets\img\KEBAP ÇEŞİTLERİ\kasapköfte.png" class="glightbox"><img src="\assets\img\KEBAP ÇEŞİTLERİ\kasapköfte.png"
                class="menu-img img-fluid" alt=""></a>
            <h4>Laboriosam Direva</h4>
            <p class="ingredients">
              Lorem, deren, trataro, filede, nerada
            </p>
            <p class="price">
              $9.95
            </p>
          </div><!-- Menu Item -->

          <div class="col-lg-4 menu-item">
            <a href="\assets\img\KEBAP ÇEŞİTLERİ\kuzukülbastı.png" class="glightbox"><img src="\assets\img\KEBAP ÇEŞİTLERİ\kuzukülbastı.png"
                class="menu-img img-fluid" alt=""></a>
            <h4>Laboriosam Direva</h4>
            <p class="ingredients">
              Lorem, deren, trataro, filede, nerada
            </p>
            <p class="price">
              $9.95
            </p>
          </div><!-- Menu Item -->

          <div class="col-lg-4 menu-item">
            <a href="\assets\img\KEBAP ÇEŞİTLERİ\kuzupirzola.png" class="glightbox"><img src="\assets\img\KEBAP ÇEŞİTLERİ\kuzupirzola.png"
                class="menu-img img-fluid" alt=""></a>
            <h4>Laboriosam Direva</h4>
            <p class="ingredients">
              Lorem, deren, trataro, filede, nerada
            </p>
            <p class="price">
              $9.95
            </p>
          </div><!-- Menu Item -->

          <div class="col-lg-4 menu-item">
            <a href="\assets\img\KEBAP ÇEŞİTLERİ\kuzuşiş.png" class="glightbox"><img src="\assets\img\KEBAP ÇEŞİTLERİ\kuzuşiş.png"
                class="menu-img img-fluid" alt=""></a>
            <h4>Laboriosam Direva</h4>
            <p class="ingredients">
              Lorem, deren, trataro, filede, nerada
            </p>
            <p class="price">
              $9.95
            </p>
          </div><!-- Menu Item -->

          <div class="col-lg-4 menu-item">
            <a href="wwwroot\assets\img\KEBAP ÇEŞİTLERİ\danafırındabeyti.png" class="glightbox"><img src="\assets\img\KEBAP ÇEŞİTLERİ\danafırındabeyti.png"
                class="menu-img img-fluid" alt=""></a>
            <h4>Laboriosam Direva</h4>
            <p class="ingredients">
              Lorem, deren, trataro, filede, nerada
            </p>
            <p class="price">
              $9.95
            </p>
          </div><!-- Menu Item -->

        </div>
      </div><!-- End Lunch Menu Content -->

      <div class="tab-pane fade" id="menu-dinner">

        <div class="tab-header text-center">
          <p>Menü</p>
          <h3>Tatlılar</h3>
        </div>

        <div class="row gy-5">

          <div class="col-lg-4 menu-item">
            <a href="\assets\img\TATLILAR\harire.png" class="glightbox"><img src="\assets\img\TATLILAR\harire.png"
                class="menu-img img-fluid" alt=""></a>
            <h4>Magnam Tiste</h4>
            <p class="ingredients">
              Lorem, deren, trataro, filede, nerada
            </p>
            <p class="price">
              $5.95
            </p>
          </div><!-- Menu Item -->

          <div class="col-lg-4 menu-item">
            <a href="\assets\img\TATLILAR\PEYNİRLİKAHİYE.png" class="glightbox"><img src="\assets\img\TATLILAR\PEYNİRLİKAHİYE.png"
                class="menu-img img-fluid" alt=""></a>
            <h4>Aut Luia</h4>
            <p class="ingredients">
              Lorem, deren, trataro, filede, nerada
            </p>
            <p class="price">
              $14.95
            </p>
          </div><!-- Menu Item -->

          <div class="col-lg-4 menu-item">
            <a href="\assets\img\TATLILAR\ZERDEIMTABAKKA.png" class="glightbox"><img src="\assets\img\TATLILAR\ZERDEIMTABAKKA.png"
                class="menu-img img-fluid" alt=""></a>
            <h4>Est Eligendi</h4>
            <p class="ingredients">
              Lorem, deren, trataro, filede, nerada
            </p>
            <p class="price">
              $8.95
            </p>
          </div><!-- Menu Item -->

        </div>
      </div><!-- End Dinner Menu Content -->


      <div class="tab-pane fade" id="menu-drink">

        <div class="tab-header text-center">
          <p>Menü</p>
          <h3>İçecekler</h3>
        </div>

        <div class="row gy-5">

          <div class="col-lg-4 menu-item">
            <a href="\assets\img\içecekler\kola.png" class="glightbox"><img src="\assets\img\içecekler\kola.png"
                class="menu-img img-fluid" alt=""></a>
            <h4>Magnam Tiste</h4>
            <p class="ingredients">
              Lorem, deren, trataro, filede, nerada
            </p>
            <div class="sepet">
            <p class="price">
              $5.95
            </p>
            <a href="/Home/Sepet"><span  class="sepetIcon"><i class="fa-solid fa-cart-shopping sepetIcon"></i></span></a>
            </div>
          
          </div><!-- Menu Item -->

          <div class="col-lg-4 menu-item">
            <a href="\assets\img\içecekler\yedigün.png" class="glightbox"><img src="\assets\img\içecekler\yedigün.png"
                class="menu-img img-fluid" alt=""></a>
            <h4>Aut Luia</h4>
            <p class="ingredients">
              Lorem, deren, trataro, filede, nerada
            </p>
            <div class="sepet">
            <p class="price">
              $14.95
            </p>
            <a href="/Home/Sepet"><span  class="sepetIcon"><i class="fa-solid fa-cart-shopping sepetIcon"></i></span></a>
            </div>
          
          </div><!-- Menu Item -->

          <div class="col-lg-4 menu-item">
            <a href="\assets\img\içecekler\maden suyu.png" class="glightbox"><img src="\assets\img\içecekler\maden suyu.png"
                class="menu-img img-fluid" alt=""></a>
            <h4>Est Eligendi</h4>
            <p class="ingredients">
              Lorem, deren, trataro, filede, nerada
            </p>
            <div class="sepet">
            <p class="price">
              $8.95
            </p>
            <a href="/Home/Sepet"><span  class="sepetIcon"><i class="fa-solid fa-cart-shopping sepetIcon"></i></span></a>
            </div>

          </div><!-- Menu Item -->

          <div class="col-lg-4 menu-item">
            <a href="\assets\img\içecekler\soğukçay.png" class="glightbox"><img src="\assets\img\içecekler\soğukçay.png"
                class="menu-img img-fluid" alt=""></a>
            <h4>Eos Luibusdam</h4>
            <p class="ingredients">
              Lorem, deren, trataro, filede, nerada
            </p>
            <div class="sepet">
            <p class="price">
              $12.95
            </p>
            <a href="/Home/Sepet"><span  class="sepetIcon"><i class="fa-solid fa-cart-shopping sepetIcon"></i></span></a>

            </div>
           
          </div><!-- Menu Item -->

          <div class="col-lg-4 menu-item">
            <a href="\assets\img\içecekler\ayran.png" class="glightbox"><img src="\assets\img\içecekler\ayran.png"
                class="menu-img img-fluid" alt=""></a>
            <h4>Eos Luibusdam</h4>
            <p class="ingredients">
              Lorem, deren, trataro, filede, nerada
            </p>
            <div class="sepet">
            <p class="price">
              $12.95
            </p>
            <a href="/Home/Sepet"><span  class="sepetIcon"><i class="fa-solid fa-cart-shopping sepetIcon"></i></span></a>

            </div>
           
          </div><!-- Menu Item -->

          <div class="col-lg-4 menu-item">
            <a href="\assets\img\içecekler\su.png" class="glightbox"><img src="\assets\img\içecekler\su.png"
                class="menu-img img-fluid" alt=""></a>
            <h4>Laboriosam Direva</h4>
            <p class="ingredients">
              Lorem, deren, trataro, filede, nerada
            </p>
            <div class="sepet">
            <p class="price">
              $9.95
            </p>
            <a href="/Home/Sepet"><span  class="sepetIcon"><i class="fa-solid fa-cart-shopping sepetIcon"></i></span></a>
            </div>

          </div><!-- Menu Item -->

          <div class="col-lg-4 menu-item">
            <a href="\assets\img\içecekler\çay.png" class="glightbox"><img src="\assets\img\içecekler\çay.png"
                class="menu-img img-fluid" alt=""></a>
            <h4>Laboriosam Direva</h4>
            <p class="ingredients">
              Lorem, deren, trataro, filede, nerada
            </p>
            <div class="sepet">
            <p class="price">
              $9.95
            </p>
            <a href="/Home/Sepet"><span  class="sepetIcon"><i class="fa-solid fa-cart-shopping sepetIcon"></i></span></a>
            </div>

          </div><!-- Menu Item -->

          <div class="col-lg-4 menu-item">
            <a href="\assets\img\içecekler\kahve.png" class="glightbox"><img src="\assets\img\içecekler\kahve.png"
                class="menu-img img-fluid" alt=""></a>
            <h4>Laboriosam Direva</h4>
            <p class="ingredients">
              Lorem, deren, trataro, filede, nerada
            </p>
            <div class="sepet">
            <p class="price">
              $9.95
            </p>
            <a href="/Home/Sepet"><span  class="sepetIcon"><i class="fa-solid fa-cart-shopping sepetIcon"></i></span></a>
            </div>

          </div><!-- Menu Item -->

        </div>
      </div><!-- End Starter Menu Content -->

    </div>

  </div>

</section><!-- /Menu Section -->

<script>
  document.querySelector('.add-to-cart-btn').addEventListener('click', function() {
  var notification = document.getElementById('notification');
  notification.style.display = 'block';
  
  // 3 saniye sonra bildirimi gizle
  setTimeout(function() {
    notification.style.display = 'none';
  }, 3000);
});

</script>